header {
  background-image: linear-gradient(to bottom, #383838, #000000);
}

body {
  background-color: #000000;
}

#citySearch {
  background-color: rgb(236, 236, 236);
}

#results {
  display: none;
}

.noDot{
  text-decoration: underline;
  list-style:none;
}